# Byte-compiled / optimized / DLL files  
__pycache__/  
*.py[cod]  
*$py.class  
  
# C extensions  
*.so  
  
# Distribution / packaging  
dist/  
build/  
*.egg-info/  
  
# Virtual environments  
venv/  
env/  
